*{
  margin:0;
  padding:0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
font-family: "Roboto", sans-serif;
}
/* Navbar CSS */
.navbar{
  display:flex;
  /* position:sticky;
  top:0; */
}
/* Navbar logo */
.nav_logo{
  margin-left:80px;
}
/* Navbar menu */
.nav_menu{
margin-left:68%;
margin-top:20px;
}
.nav_menu i{
  font-size:30px;
}
/* Navbar CSS */
/* Food CSS */
.food_items{
  display:flex;
}
/* Food img */
.food_img{
padding-left:70px;
}
/* Food content */
.food_con{
  width:550px;
  padding-top:50px;
}
.food_con button{
  padding:5px 35px;
 background-color:#149F39;
 border:0px;
 color:white;
}
.food_con h1{
  font-size:60px;
  margin-top:20px;
  margin-bottom:20px;
}
.food_con p{
  margin-bottom:30px;
}
.food_con a{
  color:white;
  text-decoration:none;
  padding:7px 10px;
  background-color:#FFC066;
}
/* Food CSS */
/* Service CSS */
.parental_service{
  margin:10px 160px;
  display:flex;
  margin-top:50px;
}
.child_service{
  display:flex;
  margin-right:30px;
}
.child_img{
  margin-right:10px;
}
.child_img img{
  width:80px;
  height:70px;
}
.child_text p{
color:#AFAFAF;
margin-top:5px;
}
/* Service CSS */
/* Menu CSS */
.menu_section{
  text-align:center;
  margin-top:150px;
}
.menu_section button{
  padding:9px;
  background-color:#149F39;
border:0px;
  color:white;
  margin-bottom:20px;
}
.menu_section p{
  font-size:30px;
}
/* Menu CSS */
/* Dish CSS */
.parental_dish{
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap:15px;
  padding:50px 80px;
}
.child_dish img{
    width:100%;
  height:100%;
  object-fit:cover;
  display:block;
}
.item-1 {
  grid-column:1/3;
  grid-row:1/3;
}
.item-2 {
  grid-column:3/3;
  grid-row:1/3;
}
.item-3 {
  grid-column:4/5;
  grid-row:1/2;
}
.item-4 {
  grid-column:1/2;
  grid-row:3/4;
}
.item-5 {
  grid-column:2/3;
  grid-row:3/4;
}
.item-6 {
  grid-column:3/4;
  grid-row:3/4;
}
.item-7 {
  grid-column:4/5;
  grid-row:2/4;
}
/* Dish CSS */
/* Footer CSS */
.footer{
  display:flex;
}
/* Child Footer CSS */
.child_footer{
margin-left:102px;
color:#8F877B;
margin-top:100px;
margin-bottom:20px;
}
.child_footer h4{
  margin-bottom:10px;
}
.child_footer input{
  margin-bottom:10px;
}
.child_footer i{
  margin-top:10px;
}
/* Footer CSS */